*{
	/* Universal reset: */
	margin:0;
	padding:0;
}

#page{
	width:1000px;
	margin:0 auto;
	position:relative;
    border:3px solid black;    
}

body{
	/* Setting the default text color, size, page background and a font stack: */
	font-size:0.825em;
	color:#fcfcfc;
	background-color:#69198B;
	font-family:Arial, Helvetica, sans-serif;
	/* background-image: url(../images/aircooled.png); */
}

a, a:visited {
	color:#0196e3;
	text-decoration:none;
	outline:none;
}

h1{
	font-size:3em;
	font-weight:normal;
	letter-spacing:0.01em;
	text-transform:uppercase;
    
}

.go_up {
	float: right; 
	padding-right: 15px;  
}

p{
	line-height:1.5em;
	padding-bottom:1em;
	
}

.line{
	/* The dividing line: */
	height:1px;
	background-color:#320943;
	border-bottom:1px solid #320943;
	margin:1em 0;
	overflow:hidden;
}

footer .line{
	margin:2em 0;
}


.clear:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/*article{
	background-color:#3E0D52;
	margin:3em 0;
	padding:20px;
	text-shadow:0 2px 0 black;
}*/

footer{
	margin-bottom:30px;
	text-align:center;
	font-size:0.825em;
    clear:both;
}


footer p{
	margin-bottom:-2.5em;
	position:relative;
}

article{width:650px;
        float:left;
}

section img{float:right;
            padding:.2em;
}

aside{ width:300px;
       float:right;
       padding:20px;
}

article1{width:300px;
         float:left;
         padding:20px;
}

article2{width:300px;
        float:right;
        padding-top:20px;
}
    
h2{border-top:1px solid #E062FF;
   border-bottom:1px solid #E062FF;
   font-family:"courier new",monospace;
}
   
.btn {
  background-color: #69198B; /*Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 25px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}
.btn:hover {
  background-color:#E062FF ;
}   










